<?xml version="1.0" encoding="utf-8"?>
<!-- File name extension must be .runsettings -->
<RunSettings>
  <RunConfiguration>
    <EnvironmentVariables>
      <!-- List of environment variables we want to set-->
      <BASE_ADDRESS>https://www.saucedemo.com/</BASE_ADDRESS>
      <BROWSER_TYPE>Webkit</BROWSER_TYPE>
    </EnvironmentVariables>
  </RunConfiguration>
  <NUnit>
    <NumberOfTestWorkers>2</NumberOfTestWorkers>
  </NUnit>
</RunSettings>
